# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore temporary files
tmp
*.tmp

# Ignore build directories
dist
build

# Ignore Dockerfile
Dockerfile

# Ignore .git directory
.git

# Ignore environment variables
.env